<div class="modal" *ngIf="item">
    <div class="form">
        <app-title>Editar Valor</app-title>

        <mat-form-field>
            <mat-label>
                Valor
            </mat-label>
    
            <input matInput type="text" [formControl]="input" (keyup.enter)="edit()">
        </mat-form-field>

        <div class="btn">
            <button mat-raised-button color="warn" (click)="close()">Cancelar</button>
            <button mat-raised-button color="primary" [disabled]="!input.value" (click)="edit()">Editar</button>
        </div>
    </div>
</div>
